<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dbPath>"DataBase\MagazzinoEle.db"</dbPath>
    <dbBackupPath>"DataBase\Backup\MagazzinoEle"</dbBackupPath>
    <dbRulesPath>DataBase\CodingRules.db</dbRulesPath>
    <dbRulesBackupPath>DataBase\Backup\CodingRules</dbRulesBackupPath>
    <USER>RW</USER>
    <dsSourceFolder>ComponentDataSheet\</dsSourceFolder>
    <dsDestFolder>DataSheetStore\</dsDestFolder>
    <childPath>figli.txt</childPath>
    <childBackupPath>BackupFigli\</childBackupPath>
</configuration>

